@keyframes fadein {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bg-color {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(#1e262f, 0.6);
  }
}

.modal-overlay {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(#1e262f, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-color 0.1s;
}

.modal-box {
  border: 1px solid #494e54;

  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: sans-serif;
}

.modal-box-medium {
  display: block;
  background: #1e262f;
  width: 43em;
  min-height: 30%;
  border-radius: 1rem;
  animation: fadein 0.2s;
}

.modal-box-small {
  display: block;
  background: #1e262f;
  width: 30em;
  min-height: 30%;
  padding: 1rem;
  border-radius: 1rem;
  animation: fadein 0.2s;
}

.modal-box-large {
  display: block;
  background: #1e262f;
  width: 70%;
  min-height: 30%;
  padding: 1rem;
  border-radius: 1rem;
  animation: fadein 0.2s;
}

.modal-box-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid #494e54;
  display: flex;
  height: 3em;
  width: 100%;
}

.modal-box-header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-box-header-search-left {
  display: flex;
  flex-direction: row;
}

.modal-box-header-search-results {
  color: #8f8e8e;
  margin-right: 5px;
  font-size: 1rem;
}

.modal-box-header-search-icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 1px;
}

.modal-box-header-search-username {
  color: #8095a9;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  padding: 0.2em 0.8em;
  border-radius: 3px;

  background-color: #363e47;
}

.modal-box-header-search-input {
  border: none;
  outline: none;
  background: none;
  color: #d3d3d3;
  font-size: 1rem;
}

.modal-box-body {
  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  height: 20em;
}

.modal-box-body-item {
  width: 100%;
}

.modal-box-body-item-title {
  color: #8095a9;
  font-size: 0.9rem;
  font-weight: 500;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 0.2em;
  margin-bottom: 10px;
  margin-left: 10px;
}

.modal-box-body-items:focus {
  outline: none;
  border: none;
  border: 1px dashed #687585;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #d3d3d3;
  background-color: #18222c;
  opacity: 0.7;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.15, 0.44, 0.47, 0.99);
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.15, 0.44, 0.47, 0.99);
}

.modal-box-body-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #d3d3d3;
  padding: 0.8em 1em;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #19222c;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.modal-box-body-items:hover {
  opacity: 0.7;
  border: 1px dashed #687585;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.15, 0.44, 0.47, 0.99);
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.15, 0.44, 0.47, 0.99);
}

.modal-box-body-items-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.modal-box-body-items-icon {
  margin-right: 10px;
}

.modal-box-body-items-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-box-body-items-goto {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: 600;
  color: #687585;
}

.modal-box-body-items-goto-icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.modal-box-body-items-goto-text-start {
  margin-right: 5px;
}

.modal-box-body-items:not(:focus) .modal-box-body-items-goto {
  display: none;
}

.modal-box-header-search-right {
  display: flex;
  flex-direction: row;
}

.modal-box-header-search-right-nav {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin-right: 20px;
}

.modal-box-header-search-right-icon {
  margin-right: 7px;
}

.modal-box-header-search-right-text {
  font-size: 1em;
  font-weight: 600;
  color: #687585;
}

.modal-box-header-search-right-text-start {
  font-size: 1em;
  font-weight: 600;
  color: #687585;
  margin-right: 7px;
}

.modal-box-body::-webkit-scrollbar-thumb {
  background-color: #5d646b;
  border-radius: 20px;
}

.modal-box-body::-webkit-scrollbar {
  width: 8px;
}

.modal-box-body::-webkit-scrollbar-track {
  background: #1e262f;
}

/* mobile media queries */

@media (max-width: 768px) {
  .modal-overlay {
    align-items: end;
  }

  .modal-box-medium {
    width: 100%;
  }

  .modal-box-small {
    width: 100%;
  }

  .modal-box-large {
    width: 100%;
  }

  .modal-box-header-search-right-nav {
    display: none;
  }

  .modal-box-body-items-goto {
    display: none;
  }
}
